@abstract negative-text {
  text-indent: -9999px;
}

@abstract clean {
  padding:0;margin:0;
}

@abstract fullBloc {
  width: 100%; display: block;
}

@mixin font {
  font-weight: #(0);
  font-size: #(1, inherit);
}
@mixin display {
  display: #(0, block);
  width: #(1, 100%);
  height: #(2, auto);
}

html {
    font-size: 100%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
.relative {
  position: relative;
}
.uppercase {
  @name ucase;
  text-transform: uppercase;
}
.text-center {
  @name text-center;
  text-align:center;
}
.clear {
  @name clear;
  clear:both;
}
.fleft {
  @name left;
  float:left;
}
.fright {
  @name right;
  float:right;
}
.automargin {
  @name automargin;
  margin: 0 auto;
}
.floats:after {
  @name floats;
  content: "";
  display: table;
  clear: both;
}
.bold {
  @name bold;
  font-weight: bold !important;
}

.nopadding {
  @name nopadding;
  padding-left: 0 !important;
  padding-right: 0 !important;
}