#spinner  {
    display: none;
    margin: 4px;
    .fa-cog.fa-spin{
        color: #62a824;
    }
}

.ask-delete {
    margin-top: 5px;
}


td.langs {
    min-width: 100px;
    height: 40px;
}
.langs {
    white-space: nowrap;
    a {
        text-decoration: none;
    }
    img {
        width:18px;
        opacity: 0.5;
        &:hover {
            width:28px;
            opacity:1;
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
        }
    }
}
li.lang {
    padding: 0 10px;
    a {
        display: inline-block;
        opacity: 0.3;
        padding: 5px 2px;
        border: none;
        &.active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
            background: none;
            border:none;
            outline: none;
        }
    }
}

.fileupload-container {
    padding-top: 20px;
    border: 1px dashed #ccc;
    margin: 0 0 10px;
}
.btn-success.fileinput-button
{
    background: black !important;
    border-color: black !important;
}
.fileupload-buttonbar {
    text-align: center;
}