a.site {
    background-color: #2A6383 !important;
    color: white !important;
}

.tabbable.footer,
.tab-content.footer {
    padding-top: 0;
    height: auto;
    width: auto;
}
h5.header.blue {
    color: #616161 !important;
    margin-top: 0 !important;
}
input[type=checkbox].ace.ace-switch.ace-switch-4:checked+.lbl::after {
    left:67px;
}
input[type=checkbox].ace.ace-switch.ace-switch-4+.lbl::before {
    width: 105px;
    content: "HORS\00a0LIGNE";
    text-indent: 24px;
}
input[type=checkbox].ace.ace-switch.ace-switch-4:checked+.lbl::before {
    width: 90px;
    content: "EN\00a0LIGNE";
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.required {
    border:1px solid red !important;
}
.loading-cog-1 {
    width: 12px;
    margin: 0 0 0 5px;
}
.line {
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    a:first-of-type {
        max-width:90%;
    }
    &:last-of-type {
        border-bottom: none;
    }
    .delete_media {
        padding: 2px !important;
        font-size: 14px;
        line-height: 14px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%,-53%);
    }
}
.ace-thumbnails img {
    min-width: 200px;
    min-height: 100px;
}
.media_choice_holder {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 0 0 15px 0;
}
.media-gallery {
    h5 {
        background: #559bc3;
        color: white;
        font-weight: 400 !important;
        padding: 8px;
        margin: 0 0 5px 0;
        font-size: 14px;
        span.counter {
            background: #f5f5f5;
            padding: 8px 12px;
            color: #3f6d88;
            margin-top: 1px;
            display: inline-block;
            margin: -8px 5px -8px -8px;
            border: 1px solid #e6e6e6;
        }
    }
    > div.img-holder {
        position: relative;
        display: inline-block;
        &:hover .text {
            visibility: visible;
            opacity: 1;
        }
    }
    .text {
        visibility: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        background-color: rgba(0,0,0,0.55);
        opacity: 0;
        transition: visibility 0.8s, opacity 0.8s linear;
        height: 100%;
        a {
            color:white;
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            &:first-of-type {
                left:25%;
            }
            &:last-of-type {
                right: 25%;
            }
        }
    }
}
.ajax_subpages {
    padding:15px 0;
    .messages {
        margin-top: 10px;
    }
}

.outer {
    color: white !important;
    border-radius: 3px;
    padding-top: 3px;
}