
div.replicate {
    border: 1px dashed #cccccc;
    padding: 15px 0;
    position: relative;
    margin: 0 0 12px 0;
}
button.replicate_fields{
    margin: 12px 12px 0 0;
}
button.replicate {
    position: absolute;
    bottom: -40px;
}

.delete_replica {
    padding: 0 5px;
    position: absolute;
    bottom: -28px;
    right: 12px;
}
.delete_replica.delete_replicate_section {
    right: 12px;
    position: absolute;
    bottom: 12px;
}

.replica_container {
    position: relative;
    margin-bottom: 80px;
}

button.btn.delete_replica,
button.btn.replicate
{
    &:active {
        top:initial !important;
    }
}
button.replicate_fields {
    left: 12px;
}

.row.replicate_fields {
    margin: 0 0 25px 0;
    position: relative;
    clear: both;
}