@import url(//fonts.googleapis.com/css?family=Lato);

html, body {
	width: 100%;
	overflow-x: hidden;
	padding: 10px;
}
body {
	height:100%;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
	padding:0;
	margin:0;
	font-size:1rem;
	line-height: 1.5rem;
	color: #000;
	letter-spacing: 0.01em;
    word-spacing: 0.01em;
	background: #fff;
	overflow-x:hidden;
	position: relative;
}
body strong {color:black !important;}
h1,h2,h3,h4,h5,h6{
font-family: 'arsmedium', sans-serif; color:#333
}
h1 { font-size: 3em; line-height:1.2em; margin:0 0 .8em; }
h2 { font-size: 1.8em; line-height:1.4em; margin:0 0 .8em;  }
h3 { font-size: 1.4em; line-height:1.4em; }
h4 { font-size: 1.25em; line-height:1.4em; margin-top: 10px; margin-bottom: 10px;}
h5 { font-size: 1.1em; line-height:1.4em; font-weight:500 }
h6 { font-size: 1em; line-height:1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
p {
	padding:0 0 1em;
	margin:0;
	font-size:13px;
	line-height:18px;
}
a {
	color: #333;
	outline: 0;
	font-weight: bold;
	/*
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	*/
}
a:hover {
	text-decoration: none;
	color: #333;
	/*
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	*/
}