
.less80 {
    margin-left: 0px;
}
.upper {
    padding: 15px 20px;
    border: 1px solid #efefef;
    border-radius: 4px;
}

.bolder {
    font-weight: 700;
}

.lbl {
    font-size: 13px;
    font-weight: 400;
    &.bolder {
        display: block;
        margin: 15px 0 10px 0;
        font-weight: 700;
    }
    .blue {
        color: #347bb7;
    }
}

.apercu {
    font-size: 12px;
    padding: 15px;
    background: aliceblue;
}

.large-blog-news {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    .date {
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 12px;
        left:initial;
        span {
            font-size: 24px;
        }
    }
}

.thm-btn {
    font-size: 10px;
    padding: 2px 5px;
    line-height: 20px;
    margin-top: 10px;
}

.divider {
    order-bottom: 1px dashed #ccc;
    margin-top: 22px;
}
div.link {
    margin: 0 auto;
    padding: 30px 0;
    span {
        font-size: 20px;
        padding: 15px;
        cursor:pointer;
    }
}

.post-meta span:after {
    content: "";
    margin: 0;
}

.new_topic {
    h5 {
        color: #696969;
        font-size: 16px;
    }
    div.content {
        border: 1px dashed #02a7ec;
        padding: 10px;
        font-size: 18px;
        margin: 14px 0;
        &.text {
            height: 140px;
            text-align: left;
            overflow: auto;
        }
        &:focus {
            outline:none;
        }
    }
    button {
        padding: 3px 5px;
        font-size: 14px;
    }
    ul {
        min-width: 250px;
        display: inline-block;
        margin: 15px 0 10px 0;
        border: 1px solid #b4e9ff;
        border-radius: 5px;
        position: relative;
        i {
            position: absolute;
            margin-top: 10px;
            right: 12px;
        }
        li {
            cursor: default;
            width: 100%;
            display: none;
            color:black;
            font-size: 14px;
            padding: 8px 16px;
            border-bottom: 1px solid #b4e9ff;
            &:last-of-type {
                border-bottom:none;
            }
            &:first-of-type {
                display: inline-block;
            }
        }
    }
    .messages {
        margin-top: 20px;
    }
}
.forum-item {
    div.link {
        padding: 0 0 5px 0;
    }
}