.large-blog-news {
    .lower-content {
        padding-top: 0;
        padding-left: 25px;
        .text p {
            font-size: 15px;
        }
    }
    &:after {
        content:' ';
        display: table;
        clear: both;
    }
}
.post-meta {
    padding: 15px 0;
    span:after {
        content: "\f105";
        font-family: 'FontAwesome';
        margin: 0 10px;
    }
}
.upper {
    min-height: 70px;
    padding-top: 13px;
}

.less80 {
    margin-left: -80px;
}